.Contacto-background {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contacto-content {
  height: 100%;
  width: 60%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6% 94%;
}

.Contacto-C-B1 {
  border: none;
}

.Contacto-C-B2 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 60%;
}

.Contacto-C-B2B1 {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 50%;
  align-content: space-around;
  border-bottom: 0.1vh solid rgb(128, 128, 128, 0.5);
}

.Contacto-C-B2B1B1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Contacto-txt-1 {
  margin: 0;
  font-size: 1.5vw;
  font-weight: 600;
  color: rgb(94, 94, 94);
}

.Contacto-C-B2B1B2 {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: 100%;
  align-items: center;
  grid-column-gap: 1vh;
}

.Contacto-txt-2 {
  margin: 0;
  width: max-content;
  font-size: 2.5vw;
  font-weight: 800;
  color: black;
}

.Contacto-txt-3 {
  margin: 0;
  width: max-content;
  font-size: 1.2vw;
  font-weight: 400;
  color: rgb(128, 128, 128);
}

.Contacto-C-B2B2 {
  border-bottom: 0.1vh solid rgb(128, 128, 128, 0.5);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 40% 20%;
  align-content: space-around;
}

.Contacto-C-B2B2B1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Contacto-txt-4 {
  margin: 0;
  font-size: 1.2vw;
  font-weight: 400;
  color: black;
}

.Contacto-C-B2B2B2 {
  width: fit-content;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-template-rows: 100%;
  grid-column-gap: 3vh;
}

.Contacto-C-B2B2B2B1 {
  text-decoration: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: 100%;
  align-items: center;
  grid-column-gap: 1vh;
}

.Contacto-C-B2B2B2B1B1 {
  height: 100%;
  width: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Contacto-svg-1 {
  height: 50%;
  width: fit-content;
  fill: black;
}

.Contacto-txt-5 {
  margin: 0;
  width: max-content;
  font-size: 0.7vw;
  font-weight: 400;
  color: black;
}

.Contacto-txt-5:hover {
  text-decoration: underline;
}

.Contacto-C-B2B3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContactoPage1-background {
  height: 95%;
  width: 100%;
  background-color: white;
  border-radius: 0.5vh;
  border: 0.1vh solid rgb(128, 128, 128, 0.5);
  display: grid;
  grid-template-columns: 90%;
  grid-template-rows: 15% 85%;
  justify-content: center;
}

.ContactoPage1-B1 {
  border-bottom: 0.1vh solid rgb(128, 128, 128, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.Contacto-txt-6 {
  margin: 0;
  font-size: 1.1vw;
  font-weight: 500;
  color: black;
}

.ContactoPage1-B2 {
  border: 1px solid none;
}
